@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.FirstName</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-sm table-striped mx-auto" style="width: 80%; text-align: center;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Order Placed At</th>
                    <th scope="col">Status</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    <tr>
                        <td colspan="5" class="text-center">No Model</td>
                    </tr>
                }
                else
                {
                    @foreach (var ticket in Model.troubleTickets)
                    {
                        <tr>
                            <td>@ticket.Id</td>
                            <td>@ticket.Item</td>
                            <td>@ticket.PlacedAt</td>
                            <td>
                                @if (ticket.Fulfilled)
                                {
                                    <span>Cooking</span>
                                }
                                else
                                {
                                    <span>Delivered</span>
                                }
                            </td>
                            <td>@ticket.Notes</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

