@page
@model TroubleTickets.Pages.Admin.ControlPanelModel
@{
    ViewData["Title"] = "Control Panel";
}

<h1 class="text-center">Control Panel</h1>

<div class="table-responsive">
    <table class="table table-bordered table-sm table-striped mx-auto" style="width: 80%; text-align: center;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Item</th>
                <th scope="col">Order Placed At</th>
                <th scope="col">Status</th>
                <th scope="col">Notes</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="7" class="text-center">No Model</td>
                </tr>
            }
            else
            {
                @foreach (var ticket in Model.tickets)
                {
                    <tr>
                        <td>@ticket.Id</td>
                        <td>@ticket.Item</td>
                        <td>@ticket.PlacedAt</td>
                        <td>
                            @if (ticket.Fulfilled)
                            {
                                <span>Cooking</span>
                            }
                            else
                            {
                                <span>Delivered</span>
                            }
                        </td>
                        <td>@ticket.Notes</td>
                        <td><a asp-page="/Admin/EditTicket" asp-route-id="@ticket.Id">Edit</a></td>
                        <td><a asp-page="/Admin/DeleteTicket" asp-route-id="@ticket.Id">Delete</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
